{% extends 'base.html' %}
{% block login %}

  
    <div class="container mt-5 col-md-12 text-center">
    <h3 class="text-success">Log Into Everyday News</h3>
    
    <form class="mt-5" action="" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form 
            if field.widget.input_type!= 'hidden' %}
            <p>
                {{field.label}}
                {{field}}
                {% for error in field.errors %}
                {{error}}
                {% endfor %}
            </p>
        {% endfor %}
    
    <button class="btn btn-primary  btn-lg" type="submit">Log In</button>

    <button class="btn btn-light  btn-lg"><a href="/">Home Page</a></button>
    
   
   
    </form>

</div>    
{% endblock %}