<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{user.first_name}} {{user.last_name}}'s Favorite News: </h1>
        <a href="/users/{{user.username}}">GoTo Home Page</a>
        <a href="/logout">Sign Out</a>
        <ul>
            {% for favorite in favorite_news %}

            <li>
                <p>{{favorite.title}}</p>
                <a href="{{favorite.url}}">{{favorite.url}}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>