<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{user.first_name}} {{user.last_name}}: </h1> 
    <a href="/users/{{user.username}}/favorites">View Your Favorite</a>
    <a href="/login">Sign Out</a>
    <ul>
        {% for a_news in news %}
        
        <li>
            <p>{{a_news.title}}</p>
            <p>{{a_news.description}}</p>
            <a href="{{a_news.url}}">{{a_news.url}}</a>
            <img src="{{a_news.image_url}}" alt="">
            <p>{{a_news.content}}</p>
            <small>By {{a_news.author}} {{a_news.publisedAt}}</small>
            <br>
            <form action="/users/{{user.username}}/vote" method="POST">
                
                <input name="newsid" hidden value={{a_news.id}}>
                <button>Vote</button>
            </form>
            
            <form action="/users/{{user.username}}/new-favorite" method="POST">
                
                <input name="newsid" hidden value={{a_news.id}}>
                <button>Favorite</button>
            </form>
            
            
        </li>
        ---------------------------------------------------------------------------------------------
        {% endfor %}
    </ul>
</body>
</html>